.node-red/.flows.json.backup
[{"id":"492ca179.dd9e9","type":"tab","label":"UI","disabled":false,"info":""},{"id":"264a985d.81b818","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c726647e.02d258","type":"slack-config","z":"","name":"vaishnavi_bot"},{"id":"660002e7.0ec76c","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Century Gothic,CenturyGothic,AppleGothic,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#0000ff","baseFont":"Century Gothic,CenturyGothic,AppleGothic,sans-serif","reset":false},"themeState":{"base-color":{"default":"#8a8aff","value":"#0000ff","edited":true},"page-titlebar-backgroundColor":{"value":"#0000ff","edited":true},"page-backgroundColor":{"value":"#ffffff","edited":true},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":true},"group-textColor":{"value":"#0000d5","edited":true},"group-borderColor":{"value":"#ffffff","edited":true},"group-backgroundColor":{"value":"#ffffff","edited":true},"widget-textColor":{"value":"#111111","edited":true},"widget-backgroundColor":{"value":"#0000ff","edited":false},"widget-borderColor":{"value":"#ffffff","edited":true},"base-font":{"value":"Century Gothic,CenturyGothic,AppleGothic,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":0,"cy":0,"px":0,"py":0}}},{"id":"a2f54885.ab2f98","type":"ui_tab","z":"","name":"Watson Discovery News Search","icon":"dashboard","disabled":false,"hidden":false},{"id":"3a8e4665.420b8a","type":"ui_group","z":"","name":"Query","tab":"a2f54885.ab2f98","order":1,"disp":false,"width":"22","collapse":false},{"id":"128bbc1c.84d7f4","type":"ui_group","z":"","name":"Search Results: ","tab":"a2f54885.ab2f98","order":2,"disp":false,"width":"22","collapse":false},{"id":"2b5fc7cd.7efbf8","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"673afe95.1001c","type":"ui_spacer","name":"spacer","group":"3a8e4665.420b8a","order":2,"width":9,"height":1},{"id":"60165030.8c077","type":"ui_spacer","name":"spacer","group":"3a8e4665.420b8a","order":4,"width":9,"height":1},{"id":"67f23ac2.553da4","type":"ui_spacer","name":"spacer","group":"128bbc1c.84d7f4","order":1,"width":22,"height":1},{"id":"1105f62e.b2385a","type":"ui_spacer","name":"spacer","group":"128bbc1c.84d7f4","order":3,"width":22,"height":1},{"id":"cb4aa57b.af5b28","type":"ui_spacer","name":"spacer","group":"128bbc1c.84d7f4","order":5,"width":22,"height":1},{"id":"32f2f7d2.48a028","type":"ui_spacer","name":"spacer","group":"128bbc1c.84d7f4","order":7,"width":22,"height":1},{"id":"51b4f550.c8015c","type":"ui_spacer","name":"spacer","group":"128bbc1c.84d7f4","order":9,"width":22,"height":1},{"id":"5b6fe6c6.2381e8","type":"ui_tab","z":"","name":"Trending","icon":"dashboard","disabled":false,"hidden":false},{"id":"c04c369f.161df8","type":"ui_group","z":"","name":"Trending News","tab":"5b6fe6c6.2381e8","order":1,"disp":true,"width":24,"collapse":false},{"id":"2da88a4e.cf3306","type":"function","z":"492ca179.dd9e9","name":"","func":"msg={\n    discoveryparams:\n    {\n        \"environment_id\":\"system\",\n        \"query\":msg.payload.input\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":320,"wires":[["a27572c6.de8a4"]]},{"id":"a27572c6.de8a4","type":"watson-discovery-v1","z":"492ca179.dd9e9","name":"news","environmentname":"","environmentId":"system","collectionId":"news-en","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"5","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"term(enrichedTitle.entities.text,count:20)","return":"10","description":"","size":"LT","discovery-method":"query","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/1ffc4df3-72f7-48de-99df-f941812ffde7","x":330,"y":220,"wires":[["6dc3425e.b7adbc"]]},{"id":"ab5dd049.55803","type":"function","z":"492ca179.dd9e9","name":"","func":"if(msg.sentiment.score<0)\nmsg.payload=\"Sentiment:  Negative\";\nif(msg.sentiment.score>0)\nmsg.payload=\"Sentiment:  Positive\";\nif(msg.sentiment.score===0)\nmsg.payload=\"Sentiment:  Neutral\";\nreturn msg","outputs":1,"noerr":0,"x":850,"y":220,"wires":[["40b51f42.6639b"]]},{"id":"583cc0a2.d0906","type":"function","z":"492ca179.dd9e9","name":"filter_input","func":"// ignore anything but messages\nif (msg.payload.type != \"message\") {\n    return null;\n}\n// ignore deleted messages\nif (msg.payload.subtype == \"message_deleted\") {\n    return null;\n}\n// ignore me_message\nif (msg.payload.subtype == \"me_message\") {\n    return null;\n}\n// ignore bot_message\nif (msg.payload.subtype == \"bot_message\") {\n    return null;\n}\nmsg.user = {\n    id: msg.payload.user,\n    name: msg.payload.userObject.name\n}\nmsg.text = msg.payload.text\nmsg.channel = msg.payload.channel\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":660,"wires":[["2ec9c4a1.ded73c"]]},{"id":"2673ebaa.fe91d4","type":"function","z":"492ca179.dd9e9","name":"","func":"msg.topic = \"chat.postMessage\"\nmsg.payload = {\n    channel: msg.channel,\n    text: \"Hi There!\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":700,"wires":[["e202dcfe.8b7ad"]]},{"id":"2ec9c4a1.ded73c","type":"switch","z":"492ca179.dd9e9","name":"","property":"payload.text","propertyType":"msg","rules":[{"t":"eq","v":"Hi","vt":"str"},{"t":"eq","v":"News please","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":430,"y":780,"wires":[["2673ebaa.fe91d4"],["6dd216cb.62a908"],["f32e6360.77f2d"]]},{"id":"6dd216cb.62a908","type":"function","z":"492ca179.dd9e9","name":"","func":"msg.topic = \"chat.postMessage\"\nmsg.payload = {\n    channel: msg.channel,\n    text: \"What news are you interested in?!\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":780,"wires":[["e202dcfe.8b7ad"]]},{"id":"f32e6360.77f2d","type":"function","z":"492ca179.dd9e9","name":"","func":"msg.topic = \"chat.postMessage\"\nmsg.payload = {\n    channel: msg.channel,\n    query: msg.payload.text,\n    text: \"Ok searching...\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":840,"wires":[["e202dcfe.8b7ad","5448e196.156e1"]]},{"id":"5448e196.156e1","type":"watson-discovery-v1","z":"492ca179.dd9e9","name":"news","environmentname":"","environmentId":"system","collectionId":"news-en","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"5","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"term(enrichedTitle.entities.text,count:20)","return":"10","description":"","size":"LT","discovery-method":"query","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/1ffc4df3-72f7-48de-99df-f941812ffde7","x":770,"y":900,"wires":[["88935260.6272c","df24ebfb.f4a718","aa5e4eed.60c88"]]},{"id":"88935260.6272c","type":"function","z":"492ca179.dd9e9","name":"Output function","func":"msg.topic = \"chat.postMessage\"\nmsg.payload = {\n    channel: msg.channel,\n    text: msg.search_results.results[0].text + \"\\n\" + msg.search_results.results[0].url + \"\\n\\n\\n\\n\"\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":980,"y":840,"wires":[["e202dcfe.8b7ad"]]},{"id":"aa5e4eed.60c88","type":"function","z":"492ca179.dd9e9","name":"Output function","func":"msg.topic = \"chat.postMessage\"\nmsg.payload = {\n    channel: msg.channel,\n    text: msg.search_results.results[2].text + \"\\n\" + msg.search_results.results[0].url + \"\\n\\n\\n\\n\"\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":980,"y":960,"wires":[["e202dcfe.8b7ad"]]},{"id":"df24ebfb.f4a718","type":"function","z":"492ca179.dd9e9","name":"Output function","func":"msg.topic = \"chat.postMessage\"\nmsg.payload = {\n    channel: msg.channel,\n    text: msg.search_results.results[1].text + \"\\n\" + msg.search_results.results[0].url + \"\\n\\n\\n\\n\"\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":980,"y":900,"wires":[["e202dcfe.8b7ad"]]},{"id":"399bd09a.89023","type":"ui_form","z":"492ca179.dd9e9","name":"","label":"","group":"3a8e4665.420b8a","order":3,"width":9,"height":2,"options":[{"label":"Enter the query","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"search","cancel":"","topic":"","x":170,"y":420,"wires":[["2da88a4e.cf3306","6de025ec.ba4f9c"]]},{"id":"91d67b49.cdf6f8","type":"slack-rtm-in","z":"492ca179.dd9e9","client":"c726647e.02d258","name":"","events":"","x":230,"y":740,"wires":[["583cc0a2.d0906"]]},{"id":"e202dcfe.8b7ad","type":"slack-web-out","z":"492ca179.dd9e9","client":"c726647e.02d258","name":"","x":1260,"y":740,"wires":[[]]},{"id":"264c4e4.5e503b2","type":"sentiment","z":"492ca179.dd9e9","name":"","property":"search_results.results[0].text","x":720,"y":220,"wires":[["ab5dd049.55803"]]},{"id":"40b51f42.6639b","type":"ui_template","z":"492ca179.dd9e9","group":"128bbc1c.84d7f4","name":"","order":2,"width":22,"height":4,"format":"<style>\np { font-family: \"Century Gothic\", CenturyGothic, AppleGothic, sans-serif; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 500; line-height: 20px; }\na:link {\n  color: blue;\n  font-size: 18px;\n  font-family: \"Century Gothic\", CenturyGothic;\n}\n\na:visited {\n  color: blue;\n  font-size: 18px;\n  font-family: \"Century Gothic\", CenturyGothic;\n}\n</style>\n<div>\n    <p>\n    <a href=\"{{msg.search_results.results[0].url}}\"><span style=\"font-weight: bold;\">{{msg.search_results.results[0].title}}</span></a>\n    <br><br>{{msg.payload}}\n    <br><br>{{msg.search_results.results[0].text}}\n    <br>\n    </p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":840,"y":180,"wires":[[]]},{"id":"6dc3425e.b7adbc","type":"link out","z":"492ca179.dd9e9","name":"1","links":["16744c6.b53a6b4","7b78c8d3.cd0898","8a419719.d2ff38","ebaa3332.8e1af","6811bdf7.93ebf4","4823f0fc.660ba","dd938cd6.e30ae","763740ff.e0cb5","49363ebe.dacb3","b61f718e.aaf17"],"x":475,"y":220,"wires":[]},{"id":"16744c6.b53a6b4","type":"link in","z":"492ca179.dd9e9","name":"2","links":["6dc3425e.b7adbc"],"x":600,"y":200,"wires":[["40b51f42.6639b","264c4e4.5e503b2"]]},{"id":"7dda6e3d.0440f","type":"function","z":"492ca179.dd9e9","name":"","func":"if(msg.sentiment.score<0)\nmsg.payload=\"Sentiment:  Negative\";\nif(msg.sentiment.score>0)\nmsg.payload=\"Sentiment:  Positive\";\nif(msg.sentiment.score===0)\nmsg.payload=\"Sentiment:  Neutral\";\nreturn msg","outputs":1,"noerr":0,"x":850,"y":300,"wires":[["44b72091.18744"]]},{"id":"7143dd4a.f79084","type":"sentiment","z":"492ca179.dd9e9","name":"","property":"search_results.results[1].text","x":720,"y":300,"wires":[["7dda6e3d.0440f"]]},{"id":"44b72091.18744","type":"ui_template","z":"492ca179.dd9e9","group":"128bbc1c.84d7f4","name":"","order":4,"width":22,"height":4,"format":"<style>\np { font-family: \"Century Gothic\", CenturyGothic, AppleGothic, sans-serif; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 500; line-height: 20px; }\na:link {\n  color: blue;\n  font-size: 18px;\n  font-family: \"Century Gothic\", CenturyGothic;\n}\n\na:visited {\n  color: blue;\n  font-size: 18px;\n  font-family: \"Century Gothic\", CenturyGothic;\n}\n</style>\n<div>\n    <p>\n    <a href=\"{{msg.search_results.results[1].url}}\"><span style=\"font-weight: bold;\">{{msg.search_results.results[1].title}}</span></a>\n    <br><br>{{msg.payload}}\n    <br><br>{{msg.search_results.results[1].text}}\n    </p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":840,"y":260,"wires":[[]]},{"id":"4823f0fc.660ba","type":"link in","z":"492ca179.dd9e9","name":"2","links":["6dc3425e.b7adbc"],"x":600,"y":280,"wires":[["44b72091.18744","7143dd4a.f79084"]]},{"id":"568666b4.ceda98","type":"function","z":"492ca179.dd9e9","name":"","func":"if(msg.sentiment.score<0)\nmsg.payload=\"Sentiment:  Negative\";\nif(msg.sentiment.score>0)\nmsg.payload=\"Sentiment:  Positive\";\nif(msg.sentiment.score===0)\nmsg.payload=\"Sentiment:  Neutral\";\nreturn msg","outputs":1,"noerr":0,"x":850,"y":380,"wires":[["8ee85437.20f318"]]},{"id":"4be6b0ab.3a6c9","type":"sentiment","z":"492ca179.dd9e9","name":"","property":"search_results.results[2].text","x":720,"y":380,"wires":[["568666b4.ceda98"]]},{"id":"8ee85437.20f318","type":"ui_template","z":"492ca179.dd9e9","group":"128bbc1c.84d7f4","name":"","order":6,"width":22,"height":4,"format":"<style>\np { font-family: \"Century Gothic\", CenturyGothic, AppleGothic, sans-serif; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 500; line-height: 20px; }\na:link {\n  color: blue;\n  font-size: 18px;\n  font-family: \"Century Gothic\", CenturyGothic;\n}\n\na:visited {\n  color: blue;\n  font-size: 18px;\n  font-family: \"Century Gothic\", CenturyGothic;\n}\n</style>\n<div>\n    <p>\n    <a href=\"{{msg.search_results.results[2].url}}\"><span style=\"font-weight: bold;\">{{msg.search_results.results[2].title}}</span></a>\n    <br><br>{{msg.payload}}\n    <br><br>{{msg.search_results.results[2].text}}\n    </p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":840,"y":340,"wires":[[]]},{"id":"dd938cd6.e30ae","type":"link in","z":"492ca179.dd9e9","name":"2","links":["6dc3425e.b7adbc"],"x":600,"y":360,"wires":[["8ee85437.20f318","4be6b0ab.3a6c9"]]},{"id":"350b38cd.ac8808","type":"function","z":"492ca179.dd9e9","name":"","func":"if(msg.sentiment.score<0)\nmsg.payload=\"Sentiment:  Negative\";\nif(msg.sentiment.score>0)\nmsg.payload=\"Sentiment:  Positive\";\nif(msg.sentiment.score===0)\nmsg.payload=\"Sentiment:  Neutral\";\nreturn msg","outputs":1,"noerr":0,"x":850,"y":460,"wires":[["6ee67279.c0c29c"]]},{"id":"677ab720.5d73c8","type":"sentiment","z":"492ca179.dd9e9","name":"","property":"search_results.results[3].text","x":720,"y":460,"wires":[["350b38cd.ac8808"]]},{"id":"6ee67279.c0c29c","type":"ui_template","z":"492ca179.dd9e9","group":"128bbc1c.84d7f4","name":"","order":8,"width":22,"height":4,"format":"<style>\np { font-family: \"Century Gothic\", CenturyGothic, AppleGothic, sans-serif; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 500; line-height: 20px; }\na:link {\n  color: blue;\n  font-size: 18px;\n  font-family: \"Century Gothic\", CenturyGothic;\n}\n\na:visited {\n  color: blue;\n  font-size: 18px;\n  font-family: \"Century Gothic\", CenturyGothic;\n}\n</style>\n<div>\n    <p>\n    <a href=\"{{msg.search_results.results[3].url}}\"><span style=\"font-weight: bold;\">{{msg.search_results.results[3].title}}</span></a>\n    <br><br>{{msg.payload}}\n    <br><br>{{msg.search_results.results[3].text}}\n    </p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":840,"y":420,"wires":[[]]},{"id":"763740ff.e0cb5","type":"link in","z":"492ca179.dd9e9","name":"2","links":["6dc3425e.b7adbc"],"x":600,"y":440,"wires":[["6ee67279.c0c29c","677ab720.5d73c8"]]},{"id":"e0603ff1.81a1c","type":"function","z":"492ca179.dd9e9","name":"","func":"if(msg.sentiment.score<0)\nmsg.payload=\"Sentiment:  Negative\";\nif(msg.sentiment.score>0)\nmsg.payload=\"Sentiment:  Positive\";\nif(msg.sentiment.score===0)\nmsg.payload=\"Sentiment:  Neutral\";\nreturn msg","outputs":1,"noerr":0,"x":850,"y":540,"wires":[["e06801ec.a79be"]]},{"id":"f64c34c0.3fb578","type":"sentiment","z":"492ca179.dd9e9","name":"","property":"search_results.results[4].text","x":720,"y":540,"wires":[["e0603ff1.81a1c"]]},{"id":"e06801ec.a79be","type":"ui_template","z":"492ca179.dd9e9","group":"128bbc1c.84d7f4","name":"","order":10,"width":22,"height":4,"format":"<style>\np { font-family: \"Century Gothic\", CenturyGothic, AppleGothic, sans-serif; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 500; line-height: 20px; }\na:link {\n  color: blue;\n  font-size: 18px;\n  font-family: \"Century Gothic\", CenturyGothic;\n}\n\na:visited {\n  color: blue;\n  font-size: 18px;\n  font-family: \"Century Gothic\", CenturyGothic;\n}\n</style>\n<div>\n    <p>\n    <a href=\"{{msg.search_results.results[4].url}}\"><span style=\"font-weight: bold;\">{{msg.search_results.results[4].title}}</span></a>\n    <br><br>{{msg.payload}}\n    <br><br>{{msg.search_results.results[4].text}}\n    </p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":840,"y":500,"wires":[[]]},{"id":"49363ebe.dacb3","type":"link in","z":"492ca179.dd9e9","name":"2","links":["6dc3425e.b7adbc"],"x":600,"y":520,"wires":[["e06801ec.a79be","f64c34c0.3fb578"]]},{"id":"6de025ec.ba4f9c","type":"ui_template","z":"492ca179.dd9e9","group":"3a8e4665.420b8a","name":"","order":1,"width":13,"height":4,"format":"<style>\nh2 { color: \"blue\",font-family: \"Century Gothic\", CenturyGothic, AppleGothic, sans-serif; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 500; line-height: 25px; }\n</style>\n<div>\n    <br><br>\n    <h2>Watson News is a pre-enriched dataset that is updated continuosly with over 300,000 news articles and blogs a day. Search a specific news item from the Watson Discovery Service.\n    </h2>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":380,"y":460,"wires":[[]]},{"id":"2b840f34.ccf9d","type":"watson-discovery-v1","z":"264a985d.81b818","name":"news","environmentname":"","environmentId":"system","collectionId":"news-en","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"5","passages":true,"nlp_query":true,"query":"","filter":"crawl_date>2020-05-10T10:23:15","aggregation":"term(enriched_title.entities.text,count:20).top_hits(1)","return":"enriched_title.entities.text","description":"","size":"LT","discovery-method":"query","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/1ffc4df3-72f7-48de-99df-f941812ffde7","x":250,"y":180,"wires":[["40dca052.d207d","844a2259.cddce","66167e59.42f63","15bdda72.5aa876","840d8206.f62e7","3ee40fd9.c0b43"]]},{"id":"40dca052.d207d","type":"debug","z":"264a985d.81b818","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"search_results","targetType":"msg","x":410,"y":60,"wires":[]},{"id":"844a2259.cddce","type":"ui_template","z":"264a985d.81b818","group":"c04c369f.161df8","name":"","order":3,"width":6,"height":14,"format":"<style>\np { font-family: \"Century Gothic\", CenturyGothic, AppleGothic, sans-serif; font-size: 25px; font-style: normal; font-variant: normal; font-weight: 500; line-height: 25px; }\na:link {\n    text-decoration: none;\n  color: blue;\n  font-size: 25px;\n  font-family: \"Century Gothic\", CenturyGothic;\n}\n\na:visited {\n    text-decoration: none;\n  color: blue;\n  font-size: 25px;\n  font-family: \"Century Gothic\", CenturyGothic;\n}\n</style>\n<div>\n    <br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[0].aggregations[0].hits.hits[0].url}}\"><span>{{msg.search_results.aggregations[0].results[0].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[4].aggregations[0].hits.hits[0].url}}\"><span>{{msg.search_results.aggregations[0].results[4].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[8].aggregations[0].hits.hits[0].url}}\"><span>{{msg.search_results.aggregations[0].results[8].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[12].aggregations[0].hits.hits[0].url}}\"><span>{{msg.search_results.aggregations[0].results[12].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[16].aggregations[0].hits.hits[0].url}}\"><span>{{msg.search_results.aggregations[0].results[16].key}}</span></a><br><br><br>\n    </p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":560,"y":140,"wires":[[]]},{"id":"24bca503.5ceaea","type":"ui_button","z":"264a985d.81b818","name":"","group":"c04c369f.161df8","order":2,"width":0,"height":0,"passthru":false,"label":"Get trending news","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":150,"y":320,"wires":[["2b840f34.ccf9d"]]},{"id":"3ee40fd9.c0b43","type":"ui_template","z":"264a985d.81b818","group":"c04c369f.161df8","name":"","order":1,"width":0,"height":0,"format":"<style>\nh2 { color: \"blue\",font-family: \"Century Gothic\", CenturyGothic, AppleGothic, sans-serif; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 500; line-height: 25px; }\n</style>\n<div>\n    <br>\n    <h2>This is a web app to help you find Trending Topics in the News using Watson Discovery Service. Click on the Get Trending News button and discover the top 10 trending topics.\n<br> Click on each topic to navigate to a news article related to that topic.<br><br></h2>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":360,"y":360,"wires":[[]]},{"id":"66167e59.42f63","type":"ui_template","z":"264a985d.81b818","group":"c04c369f.161df8","name":"","order":4,"width":6,"height":14,"format":"<style>\np { font-family: \"Century Gothic\", CenturyGothic, AppleGothic, sans-serif; font-size: 25px; font-style: normal; font-variant: normal; font-weight: 500; line-height: 25px; }\na:link {\n    text-decoration: none;\n  color: blue;\n  font-size: 25px;\n  font-family: \"Century Gothic\", CenturyGothic;\n}\n\na:visited {\n    text-decoration: none;\n  color: blue;\n  font-size: 25px;\n  font-family: \"Century Gothic\", CenturyGothic;\n}\n</style>\n<div>\n    <br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[1].aggregations[0].hits.hits[0].url}}\"><span>{{msg.search_results.aggregations[0].results[1].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[5].aggregations[0].hits.hits[0].url}}\"><span>{{msg.search_results.aggregations[0].results[5].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[9].aggregations[0].hits.hits[0].url}}\"><span>{{msg.search_results.aggregations[0].results[9].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[13].aggregations[0].hits.hits[0].url}}\"><span>{{msg.search_results.aggregations[0].results[13].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[17].aggregations[0].hits.hits[0].url}}\"><span>{{msg.search_results.aggregations[0].results[17].key}}</span></a><br><br><br>\n    </p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":560,"y":200,"wires":[[]]},{"id":"15bdda72.5aa876","type":"ui_template","z":"264a985d.81b818","group":"c04c369f.161df8","name":"","order":5,"width":6,"height":14,"format":"<style>\np { font-family: \"Century Gothic\", CenturyGothic, AppleGothic, sans-serif; font-size: 25px; font-style: normal; font-variant: normal; font-weight: 500; line-height: 25px; }\na:link {\n    text-decoration: none;\n  color: blue;\n  font-size: 25px;\n  font-family: \"Century Gothic\", CenturyGothic;\n}\n\na:visited {\n    text-decoration: none;\n  color: blue;\n  font-size: 25px;\n  font-family: \"Century Gothic\", CenturyGothic;\n}\n</style>\n<div>\n    <br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[2].aggregations[0].hits.hits[0].url}}\"><span>{{msg.search_results.aggregations[0].results[2].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[6].aggregations[0].hits.hits[0].url}}\"><span>{{msg.search_results.aggregations[0].results[6].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[10].aggregations[0].hits.hits[0].url}}\"><span>{{msg.search_results.aggregations[0].results[10].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[14].aggregations[0].hits.hits[0].url}}\"><span>{{msg.search_results.aggregations[0].results[14].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[18].aggregations[0].hits.hits[0].url}}\"><span>{{msg.search_results.aggregations[0].results[18].key}}</span></a><br><br><br>\n    </p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":560,"y":280,"wires":[[]]},{"id":"840d8206.f62e7","type":"ui_template","z":"264a985d.81b818","group":"c04c369f.161df8","name":"","order":6,"width":6,"height":14,"format":"<style>\np { font-family: \"Century Gothic\", CenturyGothic, AppleGothic, sans-serif; font-size: 25px; font-style: normal; font-variant: normal; font-weight: 500; line-height: 25px; }\na:link {\n    text-decoration: none;\n  color: blue;\n  font-size: 25px;\n  font-family: \"Century Gothic\", CenturyGothic;\n}\n\na:visited {\n    text-decoration: none;\n  color: blue;\n  font-size: 25px;\n  font-family: \"Century Gothic\", CenturyGothic;\n}\n</style>\n<div>\n    <br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[3].aggregations[0].hits.hits[0].url}}\"><span>{{msg.search_results.aggregations[0].results[3].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[7].aggregations[0].hits.hits[0].url}}\"><span>{{msg.search_results.aggregations[0].results[7].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[11].aggregations[0].hits.hits[0].url}}\"><span>{{msg.search_results.aggregations[0].results[11].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[15].aggregations[0].hits.hits[0].url}}\"><span>{{msg.search_results.aggregations[0].results[15].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[19].aggregations[0].hits.hits[0].url}}\"><span>{{msg.search_results.aggregations[0].results[19].key}}</span></a><br><br><br>\n    </p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":560,"y":340,"wires":[[]]}]