defaults/flow.json
[
    {
        "id": "cba8a969.2aac68",
        "type": "tab",
        "label": "UI",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1eb00e96.49eaf1",
        "type": "function",
        "z": "cba8a969.2aac68",
        "name": "",
        "func": "msg={\n    discoveryparams:\n    {\n        \"environment_id\":\"system\",\n        \"query\":msg.payload.input\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 90,
        "y": 240,
        "wires": [
            [
                "3cf5e97c.95d886"
            ]
        ]
    },
    {
        "id": "3cf5e97c.95d886",
        "type": "watson-discovery-v1",
        "z": "cba8a969.2aac68",
        "name": "news",
        "environmentname": "",
        "environmentId": "system",
        "collectionId": "news-en",
        "configurationname": "",
        "configurationId": "",
        "language_code": "en",
        "collection_name": "",
        "count": "5",
        "passages": true,
        "nlp_query": true,
        "query": "",
        "filter": "",
        "aggregation": "term(enrichedTitle.entities.text,count:20)",
        "return": "10",
        "description": "",
        "size": "LT",
        "discovery-method": "query",
        "service-endpoint": "",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "e44d918c.2c81"
            ]
        ]
    },
    {
        "id": "e44d918c.2c81",
        "type": "function",
        "z": "cba8a969.2aac68",
        "name": "Output function",
        "func": "var msg1 = { payload:msg.search_results.results[0].text };\nvar msg2 = { payload:msg.search_results.results[1].text };\nvar msg3 = { payload:msg.search_results.results[2].text };\nvar msg4 = { payload:msg.search_results.results[3].text };\nvar msg5 = { payload:msg.search_results.results[4].text };\nreturn [ msg1, msg2, msg3, msg4, msg5 ];\n//msg.payload=msg.search_results.results[0].text\n//return msg;\n",
        "outputs": 5,
        "noerr": 0,
        "x": 300,
        "y": 240,
        "wires": [
            [
                "ebf04266.a4bda",
                "262cbcdf.d98664"
            ],
            [
                "21c2ee5d.dcb1b2",
                "c5027db7.f104c"
            ],
            [
                "860f7298.f567f",
                "72e5511e.b25a4"
            ],
            [
                "8325e04a.4d38b",
                "3a8a9d57.8d9db2"
            ],
            [
                "ca76a19e.eded5",
                "233f4c9b.9c1894"
            ]
        ]
    },
    {
        "id": "ca4ff470.c82f78",
        "type": "function",
        "z": "cba8a969.2aac68",
        "name": "",
        "func": "if(msg.sentiment.score<0)\nmsg.payload=\"Sentiment: Negative\";\nif(msg.sentiment.score>0)\nmsg.payload=\"Sentiment: Positive\";\nif(msg.sentiment.score===0)\nmsg.payload=\"Sentiment: Neutral\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 910,
        "y": 40,
        "wires": [
            [
                "38f5cdaa.2657c2"
            ]
        ]
    },
    {
        "id": "2bab9444.c19ccc",
        "type": "function",
        "z": "cba8a969.2aac68",
        "name": "",
        "func": "if(msg.sentiment.score<0)\nmsg.payload=\"Sentiment: Negative\";\nif(msg.sentiment.score>0)\nmsg.payload=\"Sentiment: Positive\";\nif(msg.sentiment.score===0)\nmsg.payload=\"Sentiment: Neutral\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 910,
        "y": 160,
        "wires": [
            [
                "e8caa6e5.6c6038"
            ]
        ]
    },
    {
        "id": "77eb8b2c.a74c34",
        "type": "function",
        "z": "cba8a969.2aac68",
        "name": "",
        "func": "if(msg.sentiment.score<0)\nmsg.payload=\"Sentiment: Negative\";\nif(msg.sentiment.score>0)\nmsg.payload=\"Sentiment: Positive\";\nif(msg.sentiment.score===0)\nmsg.payload=\"Sentiment: Neutral\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 930,
        "y": 260,
        "wires": [
            [
                "e30b90a9.f6c44"
            ]
        ]
    },
    {
        "id": "ee22eb64.d79178",
        "type": "function",
        "z": "cba8a969.2aac68",
        "name": "",
        "func": "if(msg.sentiment.score<0)\nmsg.payload=\"Sentiment: Negative\";\nif(msg.sentiment.score>0)\nmsg.payload=\"Sentiment: Positive\";\nif(msg.sentiment.score===0)\nmsg.payload=\"Sentiment: Neutral\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 930,
        "y": 360,
        "wires": [
            [
                "54ea4d1b.816e04"
            ]
        ]
    },
    {
        "id": "744295db.a32ffc",
        "type": "function",
        "z": "cba8a969.2aac68",
        "name": "",
        "func": "if(msg.sentiment.score<0)\nmsg.payload=\"Sentiment: Negative\";\nif(msg.sentiment.score>0)\nmsg.payload=\"Sentiment: Positive\";\nif(msg.sentiment.score===0)\nmsg.payload=\"Sentiment: Neutral\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 910,
        "y": 460,
        "wires": [
            [
                "c012c11f.ed60d"
            ]
        ]
    },
    {
        "id": "d78eb527.0fcaa8",
        "type": "function",
        "z": "cba8a969.2aac68",
        "name": "filter_input",
        "func": "// ignore anything but messages\nif (msg.payload.type != \"message\") {\n    return null;\n}\n// ignore deleted messages\nif (msg.payload.subtype == \"message_deleted\") {\n    return null;\n}\n// ignore me_message\nif (msg.payload.subtype == \"me_message\") {\n    return null;\n}\n// ignore bot_message\nif (msg.payload.subtype == \"bot_message\") {\n    return null;\n}\nmsg.user = {\n    id: msg.payload.user,\n    name: msg.payload.userObject.name\n}\nmsg.text = msg.payload.text\nmsg.channel = msg.payload.channel\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 580,
        "wires": [
            [
                "9ac14e0a.d4223"
            ]
        ]
    },
    {
        "id": "4878c507.1cf69c",
        "type": "function",
        "z": "cba8a969.2aac68",
        "name": "",
        "func": "msg.topic = \"chat.postMessage\"\nmsg.payload = {\n    channel: msg.channel,\n    text: \"Hi There!\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 620,
        "wires": [
            [
                "1cc4a205.aafd8e"
            ]
        ]
    },
    {
        "id": "9ac14e0a.d4223",
        "type": "switch",
        "z": "cba8a969.2aac68",
        "name": "",
        "property": "payload.text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Hi",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "News please",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 270,
        "y": 700,
        "wires": [
            [
                "4878c507.1cf69c"
            ],
            [
                "fbdfd052.d0847"
            ],
            [
                "c3466d44.ee40e"
            ]
        ]
    },
    {
        "id": "fbdfd052.d0847",
        "type": "function",
        "z": "cba8a969.2aac68",
        "name": "",
        "func": "msg.topic = \"chat.postMessage\"\nmsg.payload = {\n    channel: msg.channel,\n    text: \"What news are you interested in?!\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 700,
        "wires": [
            [
                "1cc4a205.aafd8e"
            ]
        ]
    },
    {
        "id": "c3466d44.ee40e",
        "type": "function",
        "z": "cba8a969.2aac68",
        "name": "",
        "func": "msg.topic = \"chat.postMessage\"\nmsg.payload = {\n    channel: msg.channel,\n    query: msg.payload.text,\n    text: \"Ok searching...\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 760,
        "wires": [
            [
                "1cc4a205.aafd8e",
                "d2efc7d5.19dda8"
            ]
        ]
    },
    {
        "id": "d2efc7d5.19dda8",
        "type": "watson-discovery-v1",
        "z": "cba8a969.2aac68",
        "name": "news",
        "environmentname": "",
        "environmentId": "system",
        "collectionId": "news-en",
        "configurationname": "",
        "configurationId": "",
        "language_code": "en",
        "collection_name": "",
        "count": "5",
        "passages": true,
        "nlp_query": true,
        "query": "",
        "filter": "",
        "aggregation": "term(enrichedTitle.entities.text,count:20)",
        "return": "10",
        "description": "",
        "size": "LT",
        "discovery-method": "query",
        "service-endpoint": "",
        "x": 610,
        "y": 820,
        "wires": [
            [
                "db9d2394.8d66a",
                "de7e663a.ec6998",
                "18865024.d0db8"
            ]
        ]
    },
    {
        "id": "db9d2394.8d66a",
        "type": "function",
        "z": "cba8a969.2aac68",
        "name": "Output function",
        "func": "msg.topic = \"chat.postMessage\"\nmsg.payload = {\n    channel: msg.channel,\n    text: msg.search_results.results[0].text + \"\\n\" + msg.search_results.results[0].url + \"\\n\\n\\n\\n\"\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 760,
        "wires": [
            [
                "1cc4a205.aafd8e"
            ]
        ]
    },
    {
        "id": "18865024.d0db8",
        "type": "function",
        "z": "cba8a969.2aac68",
        "name": "Output function",
        "func": "msg.topic = \"chat.postMessage\"\nmsg.payload = {\n    channel: msg.channel,\n    text: msg.search_results.results[2].text + \"\\n\" + msg.search_results.results[0].url + \"\\n\\n\\n\\n\"\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 880,
        "wires": [
            [
                "1cc4a205.aafd8e"
            ]
        ]
    },
    {
        "id": "de7e663a.ec6998",
        "type": "function",
        "z": "cba8a969.2aac68",
        "name": "Output function",
        "func": "msg.topic = \"chat.postMessage\"\nmsg.payload = {\n    channel: msg.channel,\n    text: msg.search_results.results[1].text + \"\\n\" + msg.search_results.results[0].url + \"\\n\\n\\n\\n\"\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 820,
        "wires": [
            [
                "1cc4a205.aafd8e"
            ]
        ]
    },
    {
        "id": "ebf04266.a4bda",
        "type": "ui_text",
        "z": "cba8a969.2aac68",
        "group": "4ad4cdec.7d52a4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 590,
        "y": 40,
        "wires": []
    },
    {
        "id": "21c2ee5d.dcb1b2",
        "type": "ui_text",
        "z": "cba8a969.2aac68",
        "group": "4ad4cdec.7d52a4",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 590,
        "y": 160,
        "wires": []
    },
    {
        "id": "860f7298.f567f",
        "type": "ui_text",
        "z": "cba8a969.2aac68",
        "group": "4ad4cdec.7d52a4",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 590,
        "y": 260,
        "wires": []
    },
    {
        "id": "8325e04a.4d38b",
        "type": "ui_text",
        "z": "cba8a969.2aac68",
        "group": "4ad4cdec.7d52a4",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 590,
        "y": 360,
        "wires": []
    },
    {
        "id": "ca76a19e.eded5",
        "type": "ui_text",
        "z": "cba8a969.2aac68",
        "group": "4ad4cdec.7d52a4",
        "order": 13,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 590,
        "y": 460,
        "wires": []
    },
    {
        "id": "38f5cdaa.2657c2",
        "type": "ui_text",
        "z": "cba8a969.2aac68",
        "group": "4ad4cdec.7d52a4",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1050,
        "y": 40,
        "wires": []
    },
    {
        "id": "e30b90a9.f6c44",
        "type": "ui_text",
        "z": "cba8a969.2aac68",
        "group": "4ad4cdec.7d52a4",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1070,
        "y": 260,
        "wires": []
    },
    {
        "id": "54ea4d1b.816e04",
        "type": "ui_text",
        "z": "cba8a969.2aac68",
        "group": "4ad4cdec.7d52a4",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1070,
        "y": 360,
        "wires": []
    },
    {
        "id": "c012c11f.ed60d",
        "type": "ui_text",
        "z": "cba8a969.2aac68",
        "group": "4ad4cdec.7d52a4",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1070,
        "y": 460,
        "wires": []
    },
    {
        "id": "e8caa6e5.6c6038",
        "type": "ui_text",
        "z": "cba8a969.2aac68",
        "group": "4ad4cdec.7d52a4",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1070,
        "y": 160,
        "wires": []
    },
    {
        "id": "9facc05b.9fc84",
        "type": "ui_form",
        "z": "cba8a969.2aac68",
        "name": "",
        "label": "",
        "group": "b099700c.7a88d",
        "order": 2,
        "width": 6,
        "height": 2,
        "options": [
            {
                "label": "Enter the query",
                "value": "input",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "input": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 50,
        "y": 360,
        "wires": [
            [
                "1eb00e96.49eaf1"
            ]
        ]
    },
    {
        "id": "583999ed.834168",
        "type": "slack-rtm-in",
        "z": "cba8a969.2aac68",
        "client": "ac1526ed.48f428",
        "name": "",
        "events": "",
        "x": 70,
        "y": 660,
        "wires": [
            [
                "d78eb527.0fcaa8"
            ]
        ]
    },
    {
        "id": "1cc4a205.aafd8e",
        "type": "slack-web-out",
        "z": "cba8a969.2aac68",
        "client": "ac1526ed.48f428",
        "name": "",
        "x": 1100,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "262cbcdf.d98664",
        "type": "sentiment",
        "z": "cba8a969.2aac68",
        "name": "",
        "property": "payload",
        "x": 740,
        "y": 40,
        "wires": [
            [
                "ca4ff470.c82f78"
            ]
        ]
    },
    {
        "id": "c5027db7.f104c",
        "type": "sentiment",
        "z": "cba8a969.2aac68",
        "name": "",
        "property": "payload",
        "x": 760,
        "y": 160,
        "wires": [
            [
                "2bab9444.c19ccc"
            ]
        ]
    },
    {
        "id": "72e5511e.b25a4",
        "type": "sentiment",
        "z": "cba8a969.2aac68",
        "name": "",
        "property": "payload",
        "x": 760,
        "y": 260,
        "wires": [
            [
                "77eb8b2c.a74c34"
            ]
        ]
    },
    {
        "id": "3a8a9d57.8d9db2",
        "type": "sentiment",
        "z": "cba8a969.2aac68",
        "name": "",
        "property": "payload",
        "x": 760,
        "y": 360,
        "wires": [
            [
                "ee22eb64.d79178"
            ]
        ]
    },
    {
        "id": "233f4c9b.9c1894",
        "type": "sentiment",
        "z": "cba8a969.2aac68",
        "name": "",
        "property": "payload",
        "x": 760,
        "y": 460,
        "wires": [
            [
                "744295db.a32ffc"
            ]
        ]
    },
    {
        "id": "4ad4cdec.7d52a4",
        "type": "ui_group",
        "z": "",
        "name": "Search Results",
        "tab": "19e3b0a1.888d9f",
        "order": 2,
        "disp": true,
        "width": "16",
        "collapse": false
    },
    {
        "id": "b099700c.7a88d",
        "type": "ui_group",
        "z": "",
        "name": "Watson Discovery News ",
        "tab": "19e3b0a1.888d9f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ac1526ed.48f428",
        "type": "slack-config",
        "z": "",
        "name": "vaishnavi_bot"
    },
    {
        "id": "19e3b0a1.888d9f",
        "type": "ui_tab",
        "z": "",
        "name": "App",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]